<table class="table table-striped table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">States</th>
            <th scope="col">Information</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-danger" ng-if="!loadingList && Cameras.length <= 0">
            <td colspan="3" class="text-center">No camera found</td>
        </tr>
        <tr ng-if="loadingList">
            <td colspan="3" class="text-center">
                <img src="/resources/img/loader.gif" />
            </td>
        </tr>

        <tr ng-repeat="camera in Cameras" ng-class="{'table-success': camera.infos.state === 'Running' && camera.infos.detectionState === 'Active',
            'table-warning': camera.infos.state === 'Running' && camera.infos.detectionState === 'Pause',
            'table-danger': camera.infos.state === 'Stop'}">
            <td ng-hide="camera.isLoading">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        ng-class="{'btn-success': camera.infos.state === 'Running' && camera.infos.detectionState === 'Active',
                        'btn-warning': camera.infos.state === 'Running' && camera.infos.detectionState === 'Pause',
                        'btn-danger': camera.infos.state === 'Stop'}">
                        {{camera.name}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" ng-href="/cameras/{{camera._id}}/stream/" ng-class="{'disabled': camera.infos.state === 'Stop'}">
                            View stream
                        </a>
                        <a class="dropdown-item" ng-href="/cameras/{{camera._id}}/files/">View files</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" ng-class="{'disabled': camera.infos.state === 'Running'}" href="javascript:void(0)" ng-click="patchCamera(camera._id,{infos: {state: 'Running'}});">
                            Start motion
                        </a>
                        <a class="dropdown-item" ng-class="{'disabled': camera.infos.state === 'Stop'}" href="javascript:void(0)" ng-click="patchCamera(camera._id,{infos: {state: 'Stop'}});">
                            Stop motion
                        </a>
                        <a class="dropdown-item" ng-class="{'disabled': camera.infos.state === 'Stop' || camera.infos.detectionState === 'Active'}" href="javascript:void(0)" ng-click="patchCamera(camera._id,{infos: {detectionState: 'Active'}});">
                            Start detection
                        </a>
                        <a class="dropdown-item" ng-class="{'disabled': camera.infos.state === 'Stop' || camera.infos.detectionState === 'Pause'}" href="javascript:void(0)" ng-click="patchCamera(camera._id,{infos: {detectionState: 'Pause'}});">
                            Pause detection
                        </a>
                        <div class="dropdown-divider"></div>


                        <a class="dropdown-item" href="javascript:void(0)" ng-click="viewCameraDetails(camera._id);">Edit camera</a>
                        <a class="dropdown-item" href="javascript:void(0)" ng-click="deleteCamera(camera._id);">Delete camera</a>
                    </div>
                </div>
            </td>
            <td ng-hide="camera.isLoading">
                <strong>Motion:</strong>
                <span ng-bind="camera.infos.state"></span>
                <br/>
                <strong>Detection:</strong>
                <span ng-bind="camera.infos.detectionState"></span>
            </td>
            <td ng-hide="camera.isLoading">
                <strong>Started at:</strong>
                <span ng-if="camera.infos.state === 'Running'" ng-bind="camera.infos.startedAt | date : 'medium'"></span>
                <br/>
                <strong>Last detection:</strong>
                <span ng-bind="camera.infos.lastDetection | date : 'medium'"></span>
            </td>
            <td ng-show="camera.isLoading" colspan="3" class="text-center">
                <img src="/resources/img/loader.gif" />
            </td>
        </tr>
    </tbody>
</table>

<pagination pages="pagination" cta="load"></pagination>
