<!DOCTYPE html>
<html ng-app="PiCam">
<head lang="en">
    <meta charset="UTF-8">
    <title ng-bind="title"></title>

    <!-- Styles -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="/bower_components/angular-bootstrap-pwgen/angular-bootstrap-pwgen.css">

    <link rel="stylesheet" href="css/main.css">

    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            margin: 0;
        }
        .flex-container {
            height: 100%;
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body ng-class="bodyClass">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" ng-if="isLogged">
    <div style="padding:0 10px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)" ng-click="changeRoute('Home')">PiCam</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown"
                    ng-class="{'active': routeContains('cameras')}">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Cameras<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" ng-click="changeRoute('cameras/add')"><i
                                class="glyphicon glyphicon-plus"></i>Add</a></li>
                        <li><a href="javascript:void(0)" ng-click="changeRoute('cameras')"><i
                                class="glyphicon glyphicon-list"></i>View</a></li>
                    </ul>
                </li>

                <li class="dropdown"
                    ng-class="{'active': routeContains('administration')}">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Administration<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Users</li>
                        <li><a href="javascript:void(0)" ng-click="changeRoute('administration/users/add')"><i
                                class="glyphicon glyphicon-plus"></i>Add</a></li>
                        <li><a href="javascript:void(0)" ng-click="changeRoute('administration/users')"><i
                                class="glyphicon glyphicon-list"></i>View</a></li>
                    </ul>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"
                                                                           aria-hidden="true"></span> Log out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="view-animate" ng-view ng-class="containerClass"></div>
<div class="clearfix"></div>

<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="text-muted text-center">
            &copy; DBroqua -
            <a href="https://github.com/Dbroqua/Picam-JS" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
                PiCam-JS
            </a>
        </p>
    </div>
</footer>

<!-- BOWER COMPONENTS -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/bootbox/bootbox.js"></script>

<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-base64/angular-base64.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/bower_components/ngBootbox/dist/ngBootbox.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-bootstrap-pwgen/angular-bootstrap-pwgen.js"></script>

<!-- APP Scripts -->
<script src="js/env.js"></script>
<script src="js/app.js"></script>
<!-- Controller & Services -->

<script type="text/javascript" src="js/modules/HTTP.js"></script>
<script type="text/javascript" src="js/modules/Authentication.js"></script>
<script type="text/javascript" src="js/modules/HomePage.js"></script>
<script type="text/javascript" src="js/modules/Cameras.js"></script>
<script type="text/javascript" src="js/modules/Camera.js"></script>
<script type="text/javascript" src="js/modules/CameraStream.js"></script>
<script type="text/javascript" src="js/modules/Users.js"></script>
<script type="text/javascript" src="js/modules/User.js"></script>

</body>
</html>