<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" ng-class="{disabled: pagination.currentPage === 1}">
            <a class="page-link" href="javascript:void(0)" aria-label="Previous" ng-click="pagination.currentPage > 1 && load( pagination.currentPage - 1 )">
                <span>&laquo;</span>
            </a>
        </li>

        <li class="page-item disabled" ng-repeat-start="p in pagination.list" ng-if="$index > 2 && $index === (pagination.currentPage - 5) ">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>

        <li class="page-item" ng-class="{active : p.active}" ng-if="$index < 3 || ( $index > (pagination.currentPage - 5) && $index < (pagination.currentPage + 3) ) || $index > ( pagination.nbPages - 4 )">
            <a class="page-link" href="javascript:void(0)" ng-click="load(p.index)">{{p.index}}</a>
        </li>

        <li class="page-item disabled" ng-if="$index <= ( pagination.nbPages - 4 ) && $index === (pagination.currentPage + 3)" ng-repeat-end>
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>

        <li class="page-item" ng-class="{disabled: pagination.currentPage === pagination.nbPages}">
            <a class="page-link" href="javascript:void(0)" ng-click="pagination.currentPage < pagination.nbPages && load(pagination.currentPage + 1)" aria-label="Next">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
